<p><%= link_to 'All Books', books_path%></p>

<%= form_for (@book), html: {multipart: true}  do |f| %>
            <% #binding.pry %>
            <%  if  @book.errors.any?  %>
                <div  id="error_explanation">
                    <h2>
                        <%= pluralize(@book.errors.count,  "error")  %>  prohibited
                        this  article from  being saved:
                    </h2>
                    <div class="alert alert-error">
                        <ul>
                        <%  @book.errors.full_messages.each  do  |msg| %>
                            <li><%= msg %></li>
                        <%  end %>
                    </ul>
                    </div>
                  </div>
            <%  end %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %><br>

            <%= f.label :author %>
            <%= f.text_field :author, class: 'form-control' %><br>

            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %><br>

            <%= f.label :isn %>
            <%= f.text_field :isn, class: 'form-control' %><br>

            <%= f.submit "Add book", class: "btn btn-primary" %><br>
      <% end %>
            <button onclick="back();">Back</button>

