<div class="left-menu">
  <aside class="left-sidebar">
    <ul class="list-group">
      <li class="list-group-item"><%= link_to "New Book" , new_book_path %></li>
      <li class="list-group-item"><%= link_to "All Books" , books_path %></li>
      <li class="list-group-item"><%= link_to "All Users" , users_path %></li>
      <li class="list-group-item">
      <% if current_user %>
        <%= link_to "My orders", order_path(current_user) %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
      <% end %>
      </li>
    </ul>
  </aside>
</div>