
<!DOCTYPE html>
<html>
<head>
  <title>Book Store</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  
</head>
<%= render 'layouts/head' %>
</header>
<main class="clr">

<div class="container">
<%= render 'layouts/leftsubmenu' %>
<div class="new-list">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
	<%= yield %>	
</div>
</div>
</main>
<%= render 'layouts/foot' %>
</body>
</html>