<!DOCTYPE html>
<html>
<head>
	<title>TABLE</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<header>
	<H1>BOOK INFORMATION</H1>
</header>
<main>
<table title="book information">
	<tr>
	    <th>Id</th>
	    <th>name</th> 
	    <th>nxb</th>
	    <th>author</th>
	</tr>
	<tr>
	  <% @results.each do |row|%>
	    <td><%=row['id'].to_s%></td>
	    <td><%=row['bookname'].to_s%></td> 
	    <td><%=row['nxb'].to_s%></td>
	    <td><%=row['author'].to_s%></td>
	    <td><a href="/book/delete/<%= row[ 'id' ] %>">delete</a></td>
	    <td><a href="/book/edit/<%= row[ 'id' ] %>">edit</a></td>
	  </tr>
	<%end%>
</table>
<form method="get" action="/book/new">
    <button type="submit">Them sach</button>
</form>
</main>
<footer>
	
</footer>
</body>
</html>
