<p>User</p>

<p><%= link_to 'Books' , books_path%></p>

<table >
<thead>
<tr>
	<th>Email</th>
	<th>UserName</th>
	<th>Avatar</th>
	<th>Role</th>
	<th>Option</th>
</tr>
</thead>
<tbody>
	<%= render partial: 'user', collection: @users %>
</tbody>
</table>

<%= link_to 'previous', users_path(page: @page-1) %>

<%=  link_to 'next page', users_path(page: @page+1) %>

<%= link_to 'New user' , new_user_path %>