		<table title="book information">
	<tr>
	    <th>Id Sách</th>
	    <th>Book Name</th> 
	    <th>Nhà xuất bản</th>
	    <th>Tác Gỉa</th>
	    <th>Hình ảnh</th>
	    <th>Option</th>
	</tr>
	<tr>
	  <% @results.each do |row|%>
	    <td><%=row['id'].to_s%></td>
	    <td><%=row['bookname'].to_s%></td> 
	    <td><%=row['publisher'].to_s%></td>
	    <td><%=row['author'].to_s%></td>
	    <td><img src="<%= url(row['bookimage']) %>"></td>
	    <td><a href="/book/delete/<%= row[ 'id' ] %>" onClick="return confirm('Are you sure you want to delete?')">delete</a>
	    <a href="/book/edit/<%= row[ 'id' ] %>">edit</a></td>
	  </tr>
	<%end%>
</table>
<form action="/book/manage/new" method="get">
		<button><a href="/book/manage/new"></a> Them Sach</button>
	</form>
