<!DOCTYPE html>
<html>
<head>
	<title>Book management</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<form action="/book/manage/new" method="get">
		<button>Them Sach</button>
	</form>
	<table title="book information">
	<tr>
	    <th>Id</th>
	    <th>Book Name</th> 
	    <th>Nha xuat ban</th>
	    <th>Tac Gia</th>
	    <th>Hinh anh</th>
	    <th>Option</th>

	</tr>
	<tr>
	  <% @results.each do |row|%>
	    <td><%=row['id'].to_s%></td>
	    <td><%=row['bookname'].to_s%></td> 
	    <td><%=row['nxb'].to_s%></td>
	    <td><%=row['author'].to_s%></td>
	    <td><img src="../images/products/<%=row['bookimage']%>"></td>
	    <td><a href="/book/delete/<%= row[ 'id' ] %>">delete</a>
	    <a href="/book/edit/<%= row[ 'id' ] %>">edit</a></td>
	  </tr>
	<%end%>
</table>
</body>
</html>